<div class="question">
  <h3 id="question-title"><%= @question.title %></h3>

<div class="vote-container">
  <ul class="vote-attributes">
    <li id="up-vote"><%= link_to '&#x25B2'.html_safe, question_votes_path(@question, vote: {direction: '1'}), method: :post %></li>
    <li><%= @question.votes.count %></li>
    <li id="down-vote"><%= link_to '&#x25BC'.html_safe %></li>
  </ul>
</div>

    <span class="user-time">Asked by <%= @question.user.name %> <%= std_format_date(@question.created_at) %></span>

    <p><%= @question.content %></p>

    <ul>
      <% if current_user == @question.user %>
        <li><%= link_to "Edit my question", edit_question_path %></li>
        <li><%= link_to "Delete my question", question_path, method: :delete %></li>
      <% end %>
    </ul>

      <% if !@question.comments.empty? %>
        <div class="comments">
          <h5>Comments:</h5>
          <% @question.comments.each do |comment| %>
            <p class="comment"><%= comment.content %> &bull; <span class="user-time"><%= comment.user.name %> <%= std_format_date(comment.created_at) %></span>  <% if current_user == comment.user %> &bull; <%= link_to "Edit", edit_comment_path(comment.id) %> &bull; <%= link_to "Delete",comment_path(comment.id), method: :delete %><% end %></p>
          <% end %>
          </div>
      <% end %>
</div>

<% if logged_in? %>
  <ul>
    <li><%= link_to "Add Comment", new_question_comment_path(@question.id) %></li>
  </ul>
<% end %>


<% if !@question.answers.empty? %>
  <div class="answers-list">
    <h4>Answers: <%=@question.answers.count %></h4>
    <% @question.answers.each do |answer|%>
      <div class="answer">
        <span class="user-time">Answered by <%= answer.user.name %> <%= std_format_date(answer.created_at) %></span>
        <p><%= answer.content %></p>
        <% if !answer.comments.empty? %>
          <h5>Comments:</h5>
          <div class="comments">
            <% answer.comments.each do |comment| %>
            <p class="comment"><%= comment.content %> &bull;
            <span class="user-time"><%= comment.user.name %> <%= std_format_date(comment.created_at) %></span><% if current_user == comment.user %> &bull; <%= link_to "Edit", edit_comment_path(comment.id) %> &bull; <%= link_to "Delete",comment_path(comment.id), method: :delete %><% end %></p>
            <% end %>
          </div>
        <% end %>
      <% if logged_in? %>
        <%= link_to "Add Comment", new_answer_comment_path(answer.id) %>
      <% end %>
      </div>
    <% end %>
  </div>
<% end %>


<hr>

<h4>Add Your Answer:</h4>
<div id="answers-form">
<%= render "answers/form" %>
</div>
