<div class="question">
  <h3 id="question-title"><%= @question.title %></h3>
    <p>Asked by <%= @question.user.name %> on <%= std_format_date(@question.created_at) %></p>
    <p><%= @question.content %></p>
      <% if !@question.comments.empty? %>
        <h5>Comments:</h5>
          <div class="comments">
          <% @question.comments.each do |comment| %>
            <p class="comment"><%= comment.content %> - <%= comment.user.name %> on <%= std_format_date(comment.created_at) %></p>
          <% end %>
          </div>
      <% end %>
</div>

<ul>
  <li><%= link_to "Add Comment", new_question_path %></li>
  <li><%= link_to "Add Answer", new_question_path %></li>
</ul>

<ul>
  <% if current_user == @question.user %>
    <li><%= link_to "Edit my question", edit_question_path %></li>
    <li><%= link_to "Delete my question", question_path, method: :delete %></li>
  <% end %>
</ul>

<% if !@question.answers.empty? %>
  <h4>Answers: <%=@question.answers.count %></h4>
  <div class="answers-list">
    <% @question.answers.each do |answer|%>
      <div class="answer">
        <p>Answered by <%= answer.user.name %> on <%= std_format_date(answer.created_at) %></p>
        <p><%= answer.content %></p>
          <% if !answer.comments.empty? %>
            <h5>Comments:</h5>
              <div class="comments">
                <% answer.comments.each do |comment| %>
                <p class="comment"><%= comment.content %> -
                <%= comment.user.name %> on <%= std_format_date(comment.created_at) %></p>
                <% end %>
              </div>
          <% end %>
      <%= link_to "Add Comment", new_question_path %>
      </div>
    <% end %>
  </div>
<% end %>


