<%= form_for [@question, @question.answers.build] do |f| %>
  <fieldset id="form" class="container">
    <div id="input-options">
      <%= f.text_area :content %>
      <%= f.hidden_field :question_id %>
      <% if logged_in? %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <% end %>
    </div>
    <%= f.submit 'Post Answer' %>
  </fieldset>
<% end %>
